.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.modal-primary-custom .modal-header {
  background-color: #3c8dbc !important;
  color: #fff !important;
}

.modal-info-custom .modal-header {
  background-color: #5bc0de !important;
  color: #fff !important;
}

.modal-success-custom .modal-header {
  background-color: #00a65a !important;
  color: #fff !important;
}

.modal-danger-custom .modal-header {
  background-color: #d33724 !important;
  color: #fff !important;
}

.alert-grey {
  color: #000;
  background-color: #ccc !important;
  border-color: #d6e9c6;
}

.alert.alert-grey > a {
	color: #000;
	text-decoration: none;
}

.alert.alert-grey > a:hover {
	text-decoration: underline;
}

.table-bordered.table-custom-header > thead > tr > th {
  text-align: center;
  vertical-align: middle;
}

/*Tab Left*/

.tabs-left {
  border-bottom: none;
  padding-top: 2px;
  /*border-right: 1px solid #ddd;*/
}

.tabs-left>li {
  float: none;
  margin-bottom: 2px;
  margin-right: -1px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background-color: #3c8dbc;
  color: #fff;
}

.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}

.tabs-left > li > a:hover {
  background-color: #3c8dbc;
  color: #fff;
}

.borderless td, .borderless th {
    border: none;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
